.theme-preview {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.theme-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-title {
  margin: 0;
  font-family: cursive;
  font-size: 1.6rem;
}

.theme-toggle-raw {
  display: flex;
  flex-direction: row;
  align-items: left;
  cursor: pointer;
}

.theme-colors {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.color-box {
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-bottom: 20px;
}

.theme-buttons{
  display: flex;
  gap: 10px;
  /* flex-wrap: nowrap; */
  
}

.theme-delete-button{
  background-color: #c62828;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2 ease;
}

.theme-delete-button:hover{
  background-color: #b71c1c;
}

.theme-edit-button{
  background-color: #c62828;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2 ease;
}

.theme-edit-button:hover{
  background-color: #b71c1c;
}
